/* COMPONENTS */



/* NAVIGATION */
/* base */

/* FIGURES */
/* base */
.figure {
	margin : 0;
}

/* layout */
.figure-float-left {
	float : left;
	width : 40%;
	margin: 0 5% 5% 5%;
}
.figure-responsive img {
	width  : 100%;
	height : auto;
}
.figure-retina img {
	width : 50%; /* Erbt von figure, liefert aber doppelt so viele Pixel! */
}

/* states */










